
<app-menu-title></app-menu-title>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      id="1"
      imageCover="https://media.licdn.com/dms/image/D4D12AQFOdgCZsbM1ew/article-cover_image-shrink_600_2000/0/1688956655167?e=2147483647&v=beta&t=lgoW0GRE47Xzs7ZAnV5o6Aj-UaD1Rf3baE7HmNElq8Q"
      cardTitle="Domine o Desenvolvimento Web com o Novo Curso Intensivo de Angular: Transforme sua Carreira em Tecnologia!"
      newsCategorie="Front-end"
      cardDescription="Angular, um framework robusto desenvolvido pelo Google, oferece uma arquitetura modular e ferramentas poderosas para simplificar o desenvolvimento de aplicativos web e móveis."></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      Id="2"
      imageCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShLVmhMjSF0p9mLccbbpTfedDKVDha9nrSNtX02l0uTQ&s"
      cardTitle="Aprenda a Dominar o Desenvolvimento de Aplicações Móveis com o Novo Curso de React Native: Transforme sua Visão em Apps Inovadores!"
      newsCategorie="Mobile"></app-small-card>
    <app-small-card
      Id="3"
      imageCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRwr5q0-qGFU9ok7UnpzTNnvmHpO4Tc8kMp-NkJtnsHg&s"
      cardTitle="Explore as Fronteiras da Inteligência Artificial com o Curso Avançado de Python: Capacite-se para os Desafios da Ciência de Dados e IA!"
      newsCategorie="Inteligência Artificial"></app-small-card>
    <app-small-card
      Id="4"
      imageCover="https://files.readme.io/86176b7-vuejs.png"
      cardTitle="Construa Interfaces Gráficas Modernas com o Curso Intensivo de Vue.js: Capacite-se para Projetos Web Dinâmicos e Responsivos!"
      newsCategorie="Front-end"></app-small-card>
  </div>
</div>
